* {
    box-sizing: border-box;
                     
}
body {
    padding: 50px;
}
.crossword {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    /* margin: 0 auto; */
}
.clue-lists {
    max-width: 40%;
}
.clue-list {
    list-style-type: none;
    padding: 0;
}
.clue {
    margin-bottom: 10px;
    display: flex;
}
.clue-button {
    display: flex;
    background: none;
    border: 0;
    color: inherit;
    text-align: left;
    cursor: pointer;
}
.active {
    color: #e83c7b;
}
.clue-number {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}
.crossword-board {
    display: flex;
    flex-wrap: wrap;
    width: calc(50px * 11);
    height: calc(50px * 11);
}
.box {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
}
.box:not(:nth-child(11n+1)) {
    border-left: 0;
}
.box:not(:nth-last-child(-n+11)) {
    border-bottom: 0;
}
.box-input {
    width: 48px;
    height: 49px;
    border: 0;
    padding: 0;
}
.box-input:nth-child(11n+1) {
    width: 49px;
}
.box-input:nth-last-child(-n+11) {
    height: 48px;
}
.box-input:focus {
    background: #5db4a0;
}
.box-label {
    position: absolute;
    top: 2px;
    left: 2px;
}
.blank {
    background: #333;
}
.highlight {
    background: #e83c7b;
}
@media all and (max-width: 1140px) {
    .crossword {
        flex-direction: column;
        align-items: center;
        width:80%;
   }
    .clue-lists {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        max-width: 100%;
   }
    .clue-list-wrapper {
        max-width: 45%;
   }
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
   /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
