* {
  box-sizing: border-box;
}
body {
  padding: 50px;
}
.crossword {
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 100%;

  /* margin: 0 auto; */
}
.clue-lists {
  max-width: 40%;
}
.clue-list {
  list-style-type: none;
  padding: 0;
}
.clue {
  margin-bottom: 10px;
  display: flex;
}
.clue-button {
  display: flex;
  background: none;
  border: 0;
  color: inherit;
  text-align: left;
  cursor: pointer;
}
.active {
  color: #e83c7b;
}
.clue-number {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}
.crossword-board {
  display: flex;
  flex-wrap: wrap;
  width: calc(50px * 11);
  height: calc(50px * 11);
  text-align: center;
  align-items: center;
  align-content: center;
}
.box {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
  align-items: center;
  align-content: center;
}
.box:not(:nth-child(11n + 1)) {
  border-left: 0;
}
.box:not(:nth-last-child(-n + 11)) {
  border-bottom: 0;
}
.box-input {
  width: 48px;
  height: 49px;
  border: 0;
  padding: 0;
}
.box-input:nth-child(11n + 1) {
  width: 49px;
}
.box-input:nth-last-child(-n + 11) {
  height: 48px;
}
.box-input:focus {
  background: #5db4a0;
}
.box-label {
  position: absolute;
  top: 2px;
  left: 2px;
}
.blank {
  background: #333;
}
.highlight {
  background: #815867;
}
.contanier {
  align-items: center;
  align-content: center;
  text-align: center;
}

@media all and (max-width: 1640px) {
  .crossword {
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 90%;
  }
  .clue-lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 100%;
  }
  .clue-list-wrapper {
    max-width: 45%;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Fix screen size with media */
@media all and (max-width: 800px) {
  .clue-number {
    display: inline-block;
    margin-right: 0px;
    font-weight: 600;
  }
  .crossword-board {
    display: flex;
    flex-wrap: wrap;
    width: calc(30px * 11);
    height: calc(30px * 11);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .box {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .box:not(:nth-child(11n + 1)) {
    border-left: 0;
  }
  .box:not(:nth-last-child(-n + 11)) {
    border-bottom: 0;
  }
  .box-input {
    width: 28px;
    height: 39px;
    border: 0;
    padding: 0;
  }
  .box-input:nth-child(11n + 1) {
    width: 29px;
  }
  .box-input:nth-last-child(-n + 11) {
    height: 28px;
  }
  .crossword {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 80%;

    /* margin: 0 auto; */
  }
}
