h1, h2, h3, h4, h5, h6 { font-weight: 600; }

.dropdown-menu {
  border: 0px;
  border-radius: 0px;
}

.dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #1B9CFC;
  border-color: #fff;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: rgba(2, 74, 117, 255) !important;
}

.landing { background-color: #f5f8fd !important;  }

.register-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.login-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.forgot-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.reset-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.contact-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.not-found-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.success-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.error-bg { background-image: url('/img/demo/1600x1000.jpg'); }

.bg-gray { background-color: #f8f8ff !important; }

.bg-light-gray { background-color: #fcfcfc !important; }

/*** studio ***/

.landing {
    background-image: url('/img/flat-background.jpg');
    color: rgba(9,162,255,0);
}

.features {
    background-color: #ced6e0;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/* @-webkit-keyframes noise-anim {
    0% {clip:rect(6px,9999px,95px,0)}
    5% {clip:rect(17px,9999px,41px,0)}
    10%{clip:rect(15px,9999px,49px,0)}
    15%{clip:rect(47px,9999px,87px,0)}
    20%{clip:rect(75px,9999px,70px,0)}
    25%{clip:rect(16px,9999px,33px,0)}
    30%{clip:rect(50px,9999px,42px,0)}
    35%{clip:rect(2px,9999px,69px,0)}
    40%{clip:rect(64px,9999px,83px,0)}
    45%{clip:rect(43px,9999px,56px,0)}
    50%{clip:rect(7px,9999px,20px,0)}
    55%{clip:rect(72px,9999px,47px,0)}
    60%{clip:rect(80px,9999px,6px,0)}
    65%{clip:rect(73px,9999px,78px,0)}
    70%{clip:rect(10px,9999px,5px,0)}
    75%{clip:rect(15px,9999px,76px,0)}
    80%{clip:rect(100px,9999px,37px,0)}
    85%{clip:rect(45px,9999px,4px,0)}
    90%{clip:rect(56px,9999px,92px,0)}
    95%{clip:rect(96px,9999px,87px,0)}
    to{clip:rect(17px,9999px,34px,0)}
}
    
@keyframes noise-anim {
    0%{clip:rect(6px,9999px,95px,0)}
    5%{clip:rect(17px,9999px,41px,0)}
    10%{clip:rect(15px,9999px,49px,0)}
    15%{clip:rect(47px,9999px,87px,0)}
    20%{clip:rect(75px,9999px,70px,0)}
    25%{clip:rect(16px,9999px,33px,0)}
    30%{clip:rect(50px,9999px,42px,0)}
    35%{clip:rect(2px,9999px,69px,0)}
    40%{clip:rect(64px,9999px,83px,0)}
    45%{clip:rect(43px,9999px,56px,0)}
    50%{clip:rect(7px,9999px,20px,0)}
    55%{clip:rect(72px,9999px,47px,0)}
    60%{clip:rect(80px,9999px,6px,0)}
    65%{clip:rect(73px,9999px,78px,0)}
    70%{clip:rect(10px,9999px,5px,0)}
    75%{clip:rect(15px,9999px,76px,0)}
    80%{clip:rect(100px,9999px,37px,0)}
    85%{clip:rect(45px,9999px,4px,0)}
    90%{clip:rect(56px,9999px,92px,0)}
    95%{clip:rect(96px,9999px,87px,0)}
    to{clip:rect(17px,9999px,34px,0)}
}
    
/* .error:after{content:attr(data-text);position:absolute;left:2px;text-shadow:-1px 0 #e74a3b;top:0;color:#5a5c69;background:#f8f9fc;overflow:hidden;clip:rect(0,900px,0,0);animation:noise-anim 2s linear infinite alternate-reverse} */
    
/* @-webkit-keyframes noise-anim-2{
    0%{clip:rect(56px,9999px,55px,0)}
    5%{clip:rect(5px,9999px,76px,0)}
    10%{clip:rect(62px,9999px,63px,0)}
    15%{clip:rect(35px,9999px,49px,0)}
    20%{clip:rect(28px,9999px,11px,0)}
    25%{clip:rect(49px,9999px,22px,0)}
    30%{clip:rect(70px,9999px,51px,0)}
    35%{clip:rect(60px,9999px,81px,0)}
    40%{clip:rect(95px,9999px,99px,0)}
    45%{clip:rect(3px,9999px,19px,0)}
    50%{clip:rect(54px,9999px,49px,0)}
    55%{clip:rect(93px,9999px,65px,0)}
    60%{clip:rect(53px,9999px,15px,0)}
    65%{clip:rect(21px,9999px,99px,0)}
    70%{clip:rect(77px,9999px,93px,0)}
    75%{clip:rect(89px,9999px,89px,0)}
    80%{clip:rect(98px,9999px,57px,0)}
    85%{clip:rect(63px,9999px,74px,0)}
    90%{clip:rect(80px,9999px,88px,0)}
    95%{clip:rect(81px,9999px,2px,0)}
    to{clip:rect(37px,9999px,61px,0)}}
    
@keyframes noise-anim-2{
    0%{clip:rect(56px,9999px,55px,0)}
    5%{clip:rect(5px,9999px,76px,0)}
    10%{clip:rect(62px,9999px,63px,0)}
    15%{clip:rect(35px,9999px,49px,0)}
    20%{clip:rect(28px,9999px,11px,0)}
    25%{clip:rect(49px,9999px,22px,0)}
    30%{clip:rect(70px,9999px,51px,0)}
    35%{clip:rect(60px,9999px,81px,0)}
    40%{clip:rect(95px,9999px,99px,0)}
    45%{clip:rect(3px,9999px,19px,0)}
    50%{clip:rect(54px,9999px,49px,0)}
    55%{clip:rect(93px,9999px,65px,0)}
    60%{clip:rect(53px,9999px,15px,0)}
    65%{clip:rect(21px,9999px,99px,0)}
    70%{clip:rect(77px,9999px,93px,0)}
    75%{clip:rect(89px,9999px,89px,0)}
    80%{clip:rect(98px,9999px,57px,0)}
    85%{clip:rect(63px,9999px,74px,0)}
    90%{clip:rect(80px,9999px,88px,0)}
    95%{clip:rect(81px,9999px,2px,0)}
    to{clip:rect(37px,9999px,61px,0)}
} */

/* .error:before{content:attr(data-text);position:absolute;left:-2px;text-shadow:1px 0 #4e73df;top:0;color:#5a5c69;background:#f8f9fc;overflow:hidden;clip:rect(0,900px,0,0);animation:noise-anim-2 3s linear infinite alternate-reverse} */

.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

/* .error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim-2 3s linear infinite alternate-reverse;
}
  
.error:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim 2s linear infinite alternate-reverse;
} */

.m-0 {
    margin: 0!important;
}  
  
.sp-loading {
    text-align: center;
    max-width: 270px;
    padding: 15px;
    border: 5px solid #eee;
    border-radius: 3px;
    font-size: 12px;
    color: #888;
}

.sp-wrap {
    display: none;
    line-height: 0;
    font-size: 0;
    background: #eee;
    border: 5px solid #eee;
    border-radius: 3px;
    position: relative;
    margin: 0 25px 15px 0;
    float: left;
    max-width: 300px;
}

.sp-thumbs {
    text-align: left;
    display: inline-block;
}

.sp-thumbs img {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: .3;
    display: inline-block;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.sp-thumbs a:hover {
    opacity: 1;
}

.sp-thumbs a:active, .sp-current {
    opacity: 1!important;
    position: relative;
}

.sp-large {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.sp-large a img {
    max-width: 100%;
    height: auto;
}

.sp-large a {
    display: block;
}

.sp-zoom {
    position: absolute;
    left: -50%;
    top: -50%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: none;
}

.sp-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .9);
    z-index: 1031;
    display: none;
    cursor: pointer;
}

.sp-lightbox img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #fff;
}

#sp-prev, #sp-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 501;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background: #000;
    border-radius: 25px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: .2s;
}

#sp-prev {
    left: 10px;
}

#sp-prev:before {
    content: '';
    border: 7px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 16px;
    left: 7px;
}

#sp-next {
    right: 10px;
}

#sp-next:before {
    content: '';
    border: 7px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 16px;
    left: 18px;
}

#sp-prev:hover, #sp-next:hover {
    background: #444;
}

@media screen and (max-width: 400px) {
    .sp-wrap {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 400px) {
    #sp-prev, #sp-next {
        top: auto;
        margin-top: 0;
        bottom: 25px;
    }
}
  